<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AutomationE2E Suite">

	<test name="Login Tests">
		<classes>
			<class name="Login" />
		</classes>
	</test>
	<test name="HomePge Tests">
		<classes>
			<class name="HomePage" />
		</classes>
	</test>
	<test name="CheckOutPage Tests">
		<classes>
			<class name="CheckOutPageCalculation" />
		</classes>
	</test>

	<test name="CheckTitleHomePage Tests">
		<classes>
			<class name="CheckTitleHomePage" />
		</classes>
	</test>
	<test name="AddToCart Tests">
		<classes>
			<class name="AddToCart" />
		</classes>
	</test>
	<test name="CheckOutPageCalculation Tests">
		<classes>

		
			<class name="CheckOutPageCalculation" />
		</classes>
	</test>
</suite>
